/* General Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Styling */
body, h1, h2 {
    font-family: 'Work Sans', sans-serif;
}

/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    color: #333;
    text-align: center;
    position: relative;
    padding-top: 60px; /* Adjust space for fixed navbar */
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 10px;
    display: flex;
    gap: 10px;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.nav-button {
    text-decoration: none;
    padding: 10px 20px;
    color: #515151;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    color: #a1a1a1;
    background-color: #f0f0f0;
}

/* Product Section */
.product {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.product-image-container {
    flex-shrink: 0;
}

.product-image {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-details h1 {
     text-align: start;
margin-left: 20px;
}

.contact-link {
    text-decoration: underline;
    color: #000; /* You can adjust this color to match your theme */
}

.contact-link:hover {
    color: #a1a1a1; /* Darker shade on hover */
}


.buy-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
    color: black;
    background-color: #f1f1f1;
    font-size: 18px; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.button img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.button:hover {
    background-color: #a1a1a1;
}

/* USA Section */
.usa-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
}

.usa-column {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

.usa-column h2 {
    margin-top: 10px;
    font-size: 15px;
}

.usa-column img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.usa-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    margin-top: 20px;
}

.usa-text h2 {
    font-size: 1.5rem;
    color: #333;
}

.usa-text img {
    width: 40px;

    height: auto;
    border-radius: 3px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .product {
        flex-direction: column;
    }

    .usa-section {
        flex-direction: column;
    }
}
